grant {
	permission java.util.PropertyPermission "${test.java.home.property}", "${test.read.property}";
};

grant {
	permission java.lang.RuntimePermission "setSecurityManager";
};
