grant principal net.sourceforge.prograde.progradetests.policyentry.TestingPrincipal * {
	permission java.util.PropertyPermission "java.home", "read";
};

grant {
	permission java.lang.RuntimePermission "setSecurityManager";
	permission javax.security.auth.AuthPermission "doAsPrivileged";
};
