priority "grant";

deny {
	permission java.io.FilePermission "src${/}test${/}resources${/}policyfiles${/}*", "read";
};

grant {
	permission java.io.FilePermission "src${/}test${/}resources${/}policyfiles${/}partConflictSmallerGrantPriorityGrant.policy", "read";
};

grant {
	permission java.lang.RuntimePermission "setSecurityManager";
};
