priority "grant";

grant {
	permission java.util.PropertyPermission "java.home", "read";
};

grant {
	permission java.lang.RuntimePermission "setSecurityManager";
};
