keystore "src/test/resources/testing.keystore";

deny signedBy "duke,adam" {
	permission java.util.PropertyPermission "java.home", "read";
};

grant {
	permission java.security.AllPermission;
};
