keystore "src/test/resources/testing.keystore";

grant {
	permission signedbypermission.MySignedByPermission "grant", signedBy "eva";
};

grant {
	permission java.lang.RuntimePermission "setSecurityManager";
};
